@import "../../../node_modules/normalize.css/normalize.css";

:root {
  --spacing: 2rem;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  padding: calc(var(--spacing) * 2);
  background-color: bisque;
}

header {
  background-color: lavender;
}

header img {
  width: 32px;
  height: auto;
  border-radius: 50%;
  vertical-align: middle;
}

header h1 {
  display: inline;
  vertical-align: middle;
  font-size: 1rem;
}

main {
  background-color: gold;
}

.stack {
  padding: var(--spacing) 0;
  display: grid;
  grid-gap: var(--spacing);
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
}

.stack .card {
  background-color: lavender;
  position: relative;
}

.stack .card img {
  width: 100%;
  height: auto;
}

.stack .card .text {
  position: absolute;
  top: calc(var(--spacing) * 0.5);
  left: calc(var(--spacing) * 0.5);
}
