@import "../../../node_modules/normalize.css/normalize.css";
@import "typo.css";

:root {
  --spacing: 2rem;
  --transition: 0.2s ease;
  --black: #212529;
  --gray: #b8bfc6;
  --light-gray: #f8f9fa;
  --accent: hsl(28, 96%, 58%);
  --accent-light: hsl(28, 96%, 95%);
}

html {
  box-sizing: border-box;
  color: var(--black);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  padding: calc(var(--spacing) * 2);
}

header {
  background-color: lavender;
}

header img {
  width: 64px;
  height: auto;
  border-radius: 50%;
  vertical-align: middle;
}

header h1 {
  display: inline;
  vertical-align: middle;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  margin-left: calc(var(--spacing) * 0.5);
}

.stack {
  padding: var(--spacing) 0;
  display: grid;
  grid-gap: var(--spacing);
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
}

.stack .card img {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

.stack .card .caption {
  margin-top: calc(var(--spacing) * 0.25);
}

.stack .card .title {
  font-weight: bold;
}

.stack .card .subtitle {
  font-weight: lighter;
}

.stack .card .badges {
  font-size: 0.85rem;
  margin-top: calc(var(--spacing) * 0.25);
  line-height: 1.5;
}

.stack .card .badges span {
  background-color: lavender;
  padding: 2px 6px;
  border-radius: 10px;
  white-space: nowrap;
}

.stack .card time {
  display: block;
  font-size: 0.85rem;
  margin-top: calc(var(--spacing) * 0.25);
}

.stack .card:hover :is(.title, .subtitle) {
  color: var(--accent);
  transition: var(--transition);
}

.stack .card:hover .badges span {
  background-color: var(--accent-light);
  transition: var(--transition);
}

a.no-style:is(:link, :visited, :hover, :active) {
  color: inherit;
  text-decoration: inherit;
}
