:root {
  --spacing: 2rem;
  --transition-duration: 0.2s;
  --black: #212529;
  --gray: #b8bfc6;
  --light-gray: #f8f9fa;
  --primary: hsl(41 88% 57%);
  --primary-light: hsl(43 91% 88%);
  --accent-light: hsl(203 89% 90%);
  --accent: hsl(203 89% 33%);
}

/* #334155 */

html {
  box-sizing: border-box;
  color: var(--black);
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.15;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  padding: calc(var(--spacing) * 2);
}

@media only screen and (max-width: 576px) {
  body {
    padding: var(--spacing);
  }
}
