---
import Blob from './Blob.astro';
import Icon from './Icon.astro';

const socials = [
  { name: 'mail', url: 'mailto:sophia.mersmann.blog@gmail.com' },
  { name: 'twitter', url: 'https://twitter.com/sophiamersmann' },
  { name: 'github', url: 'https://github.com/sophiamersmann' },
];
---

<div class="social-media">
  {socials.map(({ name, url }) => (
    <div class="brand-icon">
      <a target="_blank" href={url}>
        <Blob icon={name} position="back" />
        <Blob icon={name} position="front" />
        <Icon type={name} />
      </a>
    </div>
  ))}
</div>

<style>
  .social-media {
    display: inline-flex;
  }
  .brand-icon :global(a) {
    display: grid;
    grid: [stack] 1fr / [stack] 1fr;
    place-items: center;
    width: 2.5rem;
    height: 2.5rem;
  }
  .brand-icon :global(a > *) {
    grid-area: stack;
  }

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: inherit;
    text-decoration: inherit;
  }
</style>
